// normalize
@import '~normalize.css';

/* plugin stuff */

/* classes and general plugin settings */


// these have to be the same as in the props you're passing onto the plugin or the default ones
$prefix: 'equalizer__';
$mainElementClass: 'el';
$mainContainerClass: 'container';
$lineClass: 'line';
$pointClass: 'point';
$rangeClass: 'range__slider';
$svgClass: 'svg';

// shorthands
$elementSelector: $prefix + $mainElementClass;
$containerSelector: $prefix + $mainContainerClass;
$lineSelector: $prefix + $lineClass;
$pointSelector: $prefix + $pointClass;
$rangeSelector: $prefix + $rangeClass;
$svgSelector: $prefix + $svgClass;

// mixins and graphic variables
// If those values are updated, remember to update in JS
$slider-thumb-size: 5px;

$slider-track-thickness: 2px;
$color-theme: #737373;
$color-track: #222222;
$border-radius: 10px;

@mixin track {
  border: none;
  background: $color-track;
  opacity: 0;
}

@mixin thumb {
  position: relative;
  // Increase hitbox
  width: $slider-thumb-size*4;
  height: $slider-thumb-size*4;
  cursor: pointer;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  opacity: 0; // Hide the native styling
}

// general stuff
.#{$elementSelector} {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  // setting an aspect ratio of 3:1
  &::after {
    position: relative;
    display: block;
    content: '';
    padding-bottom: 1/3 * 100%;
  }
  .#{$containerSelector} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    // container of all the inputs
    .#{$rangeSelector}s-container {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      justify-content: space-around;
    }

    .#{$rangeSelector}-container {
      // going above the "after" element giving control on aspect ratio to the application
      z-index: 5;
      position: relative;
      // padding to get more grab onto the thumb
      padding: 0 20px;
      transform: translateX(-10px);
      height: 100%;
    }
    .#{$rangeSelector}[orient="vertical"] {
      // vertical input range polyfill
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical;  // webkit
      // hiding original style
      opacity: 0;
      width: $slider-thumb-size*4;;
      height: 100%;

      // reminder: input z-index is 10, fake-track is 0 and fake-thumb is 5
      z-index: 10;
      position: relative;

      // clearing out default browser styles
      background: transparent;
      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track,
      &::-webkit-slider-thumb {
        // -webkit-appearance: none;
      }
      &::-webkit-slider-runnable-track {
        @include track;
      }
      &::-moz-range-track {
        @include track;
      }
      &::-ms-track {
        @include track;
        color: transparent;
        height: 100%;
        opacity: 0;
        width: 1px;
      }
      &::-ms-fill-lower,
      &::-ms-fill-upper,
      &::-ms-tooltip {
        display: none;
      }
      &::-webkit-slider-thumb {
        transform: translateX(-50%) scale(2); // fix Ipad hitbox
        @include thumb;
        z-index: 30;
        opacity: 0;
      }
      &::-moz-range-thumb {
        @include thumb;
      }
      &::-ms-thumb {
        @include thumb;
        opacity: 0;
      }
    }
    .#{$rangeSelector}-label {
      opacity: 1;
      position: absolute;
      left: 50%;
      margin: auto;
      color: white;
      text-align: center;
      pointer-events: none;
      cursor: pointer;
      transform: translateX(-50%) translateY(-($slider-thumb-size * 4));
      transition: color 0.2s ease-out;
      white-space: nowrap;
      z-index: 10;
    }
    .#{$rangeSelector}-thumb {
      opacity: 1;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: $slider-thumb-size;
      height: $slider-thumb-size;
      line-height: $slider-thumb-size;
      background-color: white;
      text-align: center;
      font-size: 40%;
      border-radius: 50%;
      cursor: pointer;
      transform: translateY(50%);
      transition: width 0.2s ease-out, height 0.2s ease-out;
      z-index: 5;
      white-space: nowrap;
      &:after, &:before {
        position: absolute;
        color: $color-theme;
        opacity: 0;
        font-size: 4px;
        transition: opacity 0.1s ease-out;
        content: '';
        width: 8px;
        height: 8px;
        left: 50%;
        top: 50%;
        display: inline-block;
        border: 1px solid $color-theme
      }
      &:after {
        border-top-width: 0;
        border-left-width: 0;
        transform: translate(-50%, -50%) rotate(45deg) translate(2px, 2px);
      }

      &:before {
        border-bottom-width: 0;
        border-right-width: 0;
        transform: translate(-50%, -50%) rotate(45deg) translate(-2px, -2px);

      }
    }

    .#{$rangeSelector}-track {
      position: absolute;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: $color-track;
      opacity: 1;
      top: 0;
      z-index: 0;
      width: $slider-track-thickness;
    }
    .#{$rangeSelector}-container:hover .#{$rangeSelector}-thumb {
      width: $slider-thumb-size  * 6;
      height: $slider-thumb-size  * 6;

      &:after, &:before {
        opacity: 1;
        transition: opacity 0.2s 0.3s ease-out;;
      }
    }
    // Example Hover label behaviour
    //.#{$rangeSelector}-container:hover .#{$rangeSelector}-label,
    //.#{$rangeSelector}-container:focus + .#{$rangeSelector}-label,
    //.#{$rangeSelector}[orient="vertical"]:hover + .#{$rangeSelector}-thumb + .#{$rangeSelector}-label,
    //.#{$rangeSelector}[orient="vertical"]:focus + .#{$rangeSelector}-thumb + .#{$rangeSelector}-label,
    //.#{$rangeSelector}-label:hover {
    //  color: $color-theme;
    //}
  }

  .#{$svgSelector} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    fill: none;
    stroke-width: 1;

    .#{$lineSelector} {
      stroke: $color-theme;
      stroke-width: 3px;
    }
    &.#{$prefix + 'is__ms'} {
      .#{$lineSelector} {
        stroke-width: 1px;
      }
    }
  }
}

